.position {
	height: 100%;
	width: 100%;
	position: relative;
	border-top: 1px solid black;
}

.position > div {
	position:absolute;
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
	height: var(--game-position-font-size);
	font-size: var(--game-position-font-size);
	line-height: var(--game-position-font-size);
}

.position:first-child {
	border: 0px;
}

.winner {
	background-color: green;
}

.loser {
	background-color: red;
}