.home-container {
	position: relative;
	width: 100%;
}

.home-title {
	text-align: center;
	margin-bottom: 25px;
}

.side-menu-container {
	position: var(--side-menu-container-position);
	right: 0;
	top: 0;
	width: var(--side-menu-container-width);
	padding-right: var(--side-menu-container-padding-right);
}

.side-menu-section {
	margin-bottom: var(--side-menu-section-margin-bottom)
}


.side-menu-title {
	width: 100%;
	height: var(--side-menu-title-height);
	text-align: center;


	font-size: var(--side-menu-title-font-size);
	line-height: var(--side-menu-title-height);
	background-color: black;
	color: white;
	margin: auto;
}

.scoreboard-container {
	display: flex;
	justify-content: var(--scoreboard-container-flex-justify);
	flex-direction: row;
	height: var(--scoreboard-container-height);
    padding-top: 5px;
}

.scoreboard-title {
	font-size: var(--scoreboard-data-size)
}

.scoreboard-score {
	text-align: center;
	font-size: var(--scoreboard-data-size)
}

.settings-box-container {
	height: var(--settings-box-container-height);
	display: flex;
	justify-content: space-between;
	width: 100%;

}

.settings-box-section {
	height: 100%;
	width: 100%;
	background-color: #b6b6b6;
	position: relative;
	text-align: center;
	border-left: 1px solid white;
}

.settings-box-text {
	cursor: pointer;
	position: absolute;
	top: var(--settings-box-text-padding);
	width: 100%;
	font-size: var(--setting-box-text-size);
}

.settings-box-container > .settings-box-section:first-child {
	border: 0px;
}

.settings-box-container > .settings-box-section:last-child {
	border: 0px;
	border-left: 1px solid white;
}

.angled-text {
	transform: var(--settings-box-angled-text);
}

.settings-box-chosen {
	background-color: grey;
}

